.table {
    border-radius: 8px;
    overflow: hidden;
}

    .table th {
        background-color: #0d6efd;
        color: white;
    }

    .table tbody tr:hover {
        background-color: #f8f9fa;
        transition: 0.2s;
    }

.btn-primary {
    background-color: #0d6efd;
    border: none;
}

    .btn-primary:hover {
        background-color: #0b5ed7;
    }

.badge {
    font-size: 0.9rem;
    padding: 6px 10px;
    border-radius: 12px;
}
