@model VHS_frontend.Areas.Provider.Models.Staff.StaffUpdateViewModel

<h2>Cập nhật nhân viên</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="StaffId" />
    <div class="mb-3">
        <label>Tên nhân viên</label>
        <input asp-for="StaffName" class="form-control" />
    </div>
    <div class="mb-3">
        <label>CMND</label>
        <input asp-for="CitizenID" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Ảnh chân dung</label>
        <input asp-for="FaceImage" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Cập nhật</button>
</form>
